html, body {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #742284;
}

body {
	color: #333;
	background-color: #742284;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.divlogin {
	background-color: #742284;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	position: absolute;
}

.divquestion{
	background-color: #742284;
	border: 0;
	padding: 0;
	padding-top: 1rem;
	margin: 0;
	position: relative;
	height: 24px;
	width: 100%;
}

.imgquestion{
	height: 24px;
	width: 24px;
	float: right;
	margin-right: 1rem;
}

.divqrpri{
	width: 100%;
	height: 11.07rem;
	position: relative;
	padding-top: 6.5rem;
}

.divqrsec{
	width: 11.07rem;
	height: 11.07rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	background-color: #fff;
	border-radius: 0.625rem;
}
