* {
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #742284;
	font-size: 16px;
}

body {
	color: #333;
	background-color: #742284;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(233,206,241);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: rgb(233,206,241);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

.divlogin {
	background-color: #742284;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.divquestion{
	background-color: #742284;
	border: 0;
	padding: 0;
	padding-top: 2.35vw;
	margin: 0;
	height: 5vw;
	width: 100%;
}

.imgquestion{
	height: 5vw;
	width: 5vw;
	float: right;
	margin-right: 4.72vw;
}

.divqrpri{
	width: 100%;
	padding-top: 18.2vw;
}

.divqrsec{
	width: 43.05vw;
	height: 43.05vw;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #fff;
	border-radius: 1.94vw;
	background-position: center;
	background-size: 37.2vw 37.2vw;
	background-repeat: no-repeat;
	background-image: url("qr.png");
}

h4 {
	color: rgb(208,160,218);
	font-size: 3.33vw;
	font-weight: normal;
	margin-top: 4vw;
}

h3 {
	color: rgb(233,206,241);
	font-size: 3.89vw;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 88.89vw;
	width: 100vw;
}

.divclave{
	margin: 0;
	height: 3.34vw;
	width: 100%;
}

.ulclave{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 4.17vw;
}

.liclave{
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 3vw;
	width: 3vw;
	margin-right: 5vw;
	background-color: rgb(140,61,153);
	border-style: solid;
	border-color: #742284;
	border-width: 0.35vw;
	border-radius: 50%;
}

.liclave:last-child{
	margin-right: 0;
}

.liclaveu{
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 3vw;
	width: 3vw;
	margin-right: 5vw;
	background-color: rgb(36,192,181);
	border-style: solid;
	border-color: rgb(36,192,181);
	border-width: 0.35vw;
	border-radius: 50%;
}

.liclaveu:last-child{
	margin-right: 0;
}

.divpadrow1{
	margin: 0;
	padding: 0;
	height: 11.10vw;
	margin-left: 0.8vw;
	margin-top: 9vw;
	width: 100vw;
	margin-bottom: 1.8vw;
}

.divpadrow2{
	margin: 0;
	padding: 0;
	height: 11.10vw;
	margin-left: 0.8vw;
	width: 100vw;
	margin-bottom: 1.8vw;
}

.pad{
	font-size: 4.16vw;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 11.10vw;
	width: 27.78vw;
	margin-right: 1.4vw;
	background-color: rgb(140,61,153);
	border-radius: 1.94vw;
	border: 0;
}

.pad:active{
	background-color: #823291;
}

.pad:not(:disabled):active {
	background-color: #823291;
}

.padinv{
	color: rgb(233,206,241);
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 11.10vw;
	width: 27.78vw;
	margin-right: 1.4vw;
	background-color: #742284;
	border-radius: 1.94vw;
}

.pad p{
	width: 100vw;
	height: 11.10vw;
	font-size: 5.5vw;
	font-weight: 500;
    vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.h3ol{
	margin-top: 6.8vw;
	color: rgb(36,192,181);
}

.imgback{
	height: 3.19vw;
	width: 4.02vw;
	display: table-cell;
	vertical-align: middle;
}

.padinvback{
	color: rgb(233,206,241);
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 11.10vw;
	width: 27.78vw;
	margin-right: 1.4vw;
	background-color: #742284;
	border-radius: 1.94vw;
	background-image: url("back.svg");
	background-repeat: no-repeat;
	background-size: 4.52vw 3.69vw;
	background-position: center;
	border: 0;
}

.padinvback:active{
	background-color: #742284;
}

.padinvback:not(:disabled):active {
	background-color: #742284;
}

.divprincipal {
	background-color: #742284;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.divbienvenida{
	height: 8.33vw;
	display: block;
	padding-left: 4.72vw;
	background-image: url("menu.svg");
	background-repeat: no-repeat;
	background-position: 4.72vw center;
	background-size: 4.44vw;
}

.h3bien{
	color: rgb(255,255,255);
	align-items: center;
	vertical-align: middle;
	display: table-cell;
	width: 100vw;
	height: 8.33vw;
}

.divsaldo{
	margin-left: 4.72vw;
	margin-top: 3.75vw;
	margin-bottom: 3.75vw;
}
.botonsaldo{
	padding: 4.16vw;
	font-size: 3.6vw;
	font-weight: 500;
	color: rgb(255,255,255);
	margin: 0;
	display: block;
	background-color: rgb(140,61,153);
	border-radius: 1.94vw;
	border: 0;
}

.botonsaldo:active{
	background-color: #823291;
}

.botonsaldo:not(:disabled):active {
	background-color: #823291;
}

.imgojo{
	width: 4.86vw;
	margin-right: 3vw;
	height: 3.47vw;
}